:root {
    --primary-color: #ec1f55;
    --text-color: #333;
  }
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(#276174,#6efd88);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-container {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.397);
    display: flex;
    padding: 1rem;
    flex-direction: column;
    text-align: center;
    position: relative;
}


.img-container {
    margin: 1rem;
    width: 200px;
    position: relative;

}

.img-container::after {
    content:"";
    background-color: #fff;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.img-container img {
    width: inherit;
    height: 200px;
    border-radius: 50%;
    animation: rotate 8s linear infinite;
    animation-play-state: paused;
    object-fit: cover;
}

.music-container.play .img-container img {
    animation-play-state: running;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn {
    background-color: #fff;
    border:0;
    color: #4e4e4e;
    padding: 1rem;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.action-btn:hover, .action-btn-big:hover {
    opacity: 0.75;
}

.action-btn-big {
    background: none;
    border:0;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.action-btn-big i {
    color:#fff;
    font-size: 1.2rem;
    background-color: #6efd88;
    border-radius: 50%;
    padding: 1rem;
}

.music-info {
    background-color: rgba(255,255,255,0.5);
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* text-overflow: ellipsis; */
    margin: -0.5rem -0.5rem 0 0;
}

.music-info::before {
    content: '';
    width: 1rem;
    height: 1rem;
    /* background-color: #000; */
}

#title {
    display: block;
    max-width: 194px;
    flex: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
    white-space: nowrap;
    /* padding: 0 0 0 0.5rem; */
    color: #000;
    /* animation: name 2s linear infinite; */
}

#title span {
    display: inline-block;
}

.scroll {
    
    padding-left: 100%;
    animation: scroll 8s infinite linear;
}


#list {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    -webkit-tap-highlight-color: transparent;
}

#list:active {
    background:none;
    animation: smooth ease .4s;
}

#list:hover {
    opacity: 0.7;
}

.songs-container {
    background-color: rgb(128, 128, 128);
    /* padding: 0.5rem; */
    position: absolute;
    top: 3rem;
    width: calc(100% - 2rem);
    max-height: calc(100% - 4rem);
    overflow-y: scroll;
    border-radius: 0.5rem;
    overflow-x: hidden;
    animation: dive-in ease-out .3s;

}

.song {
    text-align: left;
    padding: 0.5rem;
    color: #fff;
    cursor: pointer;
    display: flex;
}

.song:hover {
    background-color: #ccc;
}

.song-img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    margin: auto 0;
}

.song-info {
    padding:0 0.5rem;
}

.song-name {
    display: inline-block;
    overflow-x: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    
    max-width: 165px;
}

.song .song-artist {
    font-size: 0.75rem;
}



::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-track {
    background: #ffe5e5;
    max-height: 10%;
    opacity: 0.5;
    border-radius: 1rem;
  }
  
::-webkit-scrollbar-thumb {
  background: rgb(53, 240, 131);
  opacity: 0.5;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(53, 221, 123);
    opacity: 1;
}

.progress-container {
    background-color: #ccc;
    border-radius: 0.35rem;
    cursor: pointer;
    height: 0.35rem;
    margin-bottom: 0.5rem;
}

.progress {
    background-color: #fe8daa;
    border-radius: 0.35rem;
    height: 100%;
    width: 0%;
    cursor: pointer;
    transition: width .1s linear;
}

.active {
    color:#fe8daa;
}


@keyframes dive-in {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }

    to {
        opacity: 1;
        transform: translate(0%);
    }
}

@keyframes smooth {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);

    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes name {
    from {
        transform: translate(0);
    }

    to {
        transform: translateX(-50%);
    }
}
